@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import '../javascripts/components/navbar/navbar.scss';
@import '../javascripts/components/greeting/greeting.scss';
@import '../javascripts/components/bio/bio.scss';
@import '../javascripts/components/technologies/technologies.scss';
@import '../javascripts/components/projects/projects.scss';
@import './colors.scss';
@import './fonts.scss';


* {
  margin: 0;
  padding: 0;
}

/* BODY STYLES */

body {
  background-color: $dark;
  color: white;
  font-family: 'Raleway', sans-serif;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  #greeting, #bioPage, #technologiesPage, #projectsPage {
    height: 100vh;
    position: relative;
  }

  #cta {
    // height: 50vh;
    padding: 150px 0;
    position: relative;
    h3 {
      // margin-top: 35%;
      font-size: 2.5em;
      letter-spacing: .1em;
    }
    .contact-me-links img {
      width: 2em;
    }
    .breaker {
      border-top: 2px solid $green;
      width: 40%;
      margin: 0 auto;
    }
  }
}

/* BUTTON STYLES */

.my-button {
  background-color: $dark;
  color: white;
  border: 3px solid $green;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 0.85em;
  padding: 10px 20px;
  a {
    text-decoration: none;
    color: white;
  }
}

.hover-state {
  background-color: $green;
}

.grow { 
  transition: all .2s ease-in-out; 
  }
  .grow:hover { 
  transform: scale(1.2); 
  }
