@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import '../javascripts/components/navbar/navbar.scss';
@import '../javascripts/components/greeting/greeting.scss';
@import '../javascripts/components/bio/bio.scss';
@import '../javascripts/components/technologies/technologies.scss';
@import '../javascripts/components/projects/projects.scss';
@import './colors.scss';
@import './fonts.scss';


* {
  margin: 0;
  padding: 0;
}

/* BODY STYLES */

body {
  background-color: $dark;
  color: white;
  font-family: 'Raleway', sans-serif;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  #greeting, #bioPage, #technologiesPage, #projectsPage {
    height: 100vh;
    position: relative;
  }
}

.breaker {
  background-color: $green;
  max-width: 25%;
  margin: 0 auto;
}

/* FOOTER */

footer {
  font-family: 'Raleway', sans-serif;
  padding-top: 5%;
}

.contact-me-links img {
  width: 1.8em;
}
