@import '../../../styles/colors.scss';

.projects-heading {
  padding-top: 6%;
  h3 {
    @extend %subheader
  }
}

.project-screenshot {
  max-width: 800px;
  margin: 0 auto;
  img {
    width: 100%;
  }
}

.project-description {
  font-size: 1.2em;
}

/* BUTTON STYLES */

.my-button {
  border: 3px solid $green;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 0.85em;
  padding: 10px 20px;
  a {
    text-decoration: none;
    color: white;
  }
}

.hover-state {
  background-color: $green;
}
