@import '../../../styles/colors.scss';

#projects-carousel {
  padding-top: 10%;
}

.project-screenshot {
  max-width: 800px;
  margin: 0 auto;
}

.project-screenshot img {
  width: 100%;
}

.project-description {
  font-size: 1.2em;
}
